<template>
  <div :style="{ 'background-color': color_rate_map[rating] }" class="overlay">
    <div class="overlay-text">
      <div class="student-name">{{ name }}</div>
      <div class="student-color">{{ emoji_rate_map[rating] }}</div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      emoji_rate_map: {
        3: '☹️',
        2: '😐',
        1: '😀',
      },
      color_rate_map: {
        3: 'red',
        2: '#ffd31d',
        1: '#335d2d',
      },
    }
  },
  props: {
    rating: Number,
    name: String,
  },
}
</script>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15vh;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.student-color {
  font-size: 50vh;
  line-height: 50vh;
  padding-top: 5vh;
}
</style>
