<template>
  <v-snackbar v-model="value">
    {{ text }}

    <template v-slot:action="{ attrs }">
      <v-btn color="pink" text v-bind="attrs" @click="value = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  props: {
    value: Boolean,
    text: String,
  },
  watch: {
    value() {
      this.$emit('input', this.value)
    },
  },
}
</script>
