<template>
<v-app dark>
  <v-navigation-drawer v-model="drawer" :mini-variant="miniVariant" :clipped="clipped" fixed app>
    <v-list>
      <v-list-item v-for="(item, i) in items" :key="i" :to="localePath(item.to)" router exact>
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
  <v-app-bar :clipped-left="clipped" fixed app>
    <v-app-bar-nav-icon class="mobile-only" @click.stop="drawer = !drawer" />
    <v-btn class="desktop-only" icon @click.stop="miniVariant = !miniVariant">
      <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
    </v-btn>
    <!-- <v-btn icon @click.stop="fixed = !fixed">
        <v-icon>mdi-minus</v-icon>
      </v-btn> -->
    <v-toolbar-title v-text="title" />
  </v-app-bar>
  <v-main>
    <v-container>
      <nuxt />
    </v-container>
  </v-main>
  <v-footer :absolute="!fixed" app>
    <span>&copy; {{ new Date().getFullYear() }} Alwin Lohrie, licensed under
      GPLv3</span>
  </v-footer>
</v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
          icon: 'mdi-apps',
          title: this.$t('behaviourRating'),
          to: '/',
        },
        {
          icon: 'mdi-book',
          title: this.$t('manageClasses'),
          to: '/class_management',
        },
        {
          icon: 'mdi-account-group',
          title: this.$t('studentsView'),
          to: '/students',
        },
        {
          icon: 'mdi-cog',
          title: this.$t('system'),
          to: '/system',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Behaviour Monitor',
    }
  },
}
</script>

<style lang="scss" scoped>
@media only screen and (max-width: 1200px) {
    .desktop-only {
        display: none;
    }
}
@media only screen and (min-width: 1200px) {
    .mobile-only {
        display: none;
    }
}
</style>
