<template>
<div>
  <v-container fluid grid-list-xl>
    <v-layout wrap align-center>
      <v-select v-model="selected_class" :items="classes_list" :label="$t('selectClass')">
        <template v-slot:item="props">{{ props.item.name }}</template>
        <template v-slot:selection="props">{{ props.item.name }}</template>
        <template v-slot:append-outer>
          <v-btn :to="localePath('/new_class')" style="top: -12px" offset-y>
            {{ $t('newClass') }}
          </v-btn>
        </template>
      </v-select>
    </v-layout>
  </v-container>
  <v-data-table :headers="headers" :items="students" sort-by="calories" class="elevation-1">
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>
          {{ selected_class ? selected_class.name : $t('noClassSelected') }}
        </v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn :disabled="!selected_class" color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              {{ $t('addStudent') }}
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-text-field v-model="editedItem.name" label="Name">
                </v-text-field>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">
              {{ $t('areYouSureStudentRemove') }}
            </v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon large class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon large @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
    <template v-slot:no-data>
      <p>{{ $t('noData') }}</p>
    </template>
  </v-data-table>
</div>
</template>

<script>
export default {
  data: () => ({
    classes_list: [],
    selected_class: null,
    dialog: false,
    dialogDelete: false,
    headers: [{
        text: 'Name',
        align: 'start',
        sortable: false,
        value: 'name',
      },
      {
        text: 'Actions',
        value: 'actions',
        sortable: false
      },
    ],
    students: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      id: '',
    },
    defaultItem: {
      name: '',
      id: '',
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ?
        this.$t('addStudent') :
        this.$t('editStudent')
    },
  },

  watch: {
    dialog(val) {
      console.log("Dialog changed")
      val || this.close()
    },
    dialogDelete(val) {
      console.log("Delete dialog changed")
      val || this.closeDelete()
    },
    selected_class() {
      this.loadStudents()
    },
  },

  mounted() {
    this.loadClasses()
  },

  methods: {
    loadClasses() {
      const that = this
      this.$axios
        .get('/admin/classes', {
          progress: true,
          credentials: true
        })
        .then(function(response) {
          that.classes_list = response.data
        })
    },
    loadStudents() {
      const that = this
      this.$axios
        .get(`/admin/classes/${this.selected_class.id}`, {
          progress: true,
          credentials: true,
        })
        .then(function(response) {
          that.students = response.data.students
        })
    },
    editItem(item) {
      this.editedIndex = this.students.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      this.editedIndex = this.students.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm() {
      this.students.splice(this.editedIndex, 1)
      this.$axios.delete(
        `/admin/classes/${this.selected_class.id}/${this.editedItem.id}`, {
          progress: true,
          credentials: true,
        }
      )
      this.closeDelete()
    },

    close() {
      console.log("TRIGGERED")
      if (this.dialog === false) {
        return
      }
      this.dialog = false
      if (this.editedIndex !== -1) {

        this.$axios.put(
          `/admin/classes/${this.selected_class.id}/${this.editedItem.id}`, {
            name: this.editedItem.name,
          }, {
            progress: true,
            credentials: true,
          }
        )
      } else if (this.editedIndex === -1) {
        console.log("TRIGGERED2")
        this.$axios.post(
          `/admin/classes/${this.selected_class.id}`, {
            name: this.editedItem.name,
          }, {
            progress: true,
            credentials: true,
          }
        )
      }

      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.dialogDelete = false

      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.students[this.editedIndex], this.editedItem)
      } else {
        this.students.push(this.editedItem)
      }
      this.close()
    },
  },
}
</script>
