<template>
<div>
  <v-dialog v-model="dialog" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">Rate {{ editedItem.name }}</span>
      </v-card-title>

      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex class="text-center" xs4>
              <v-btn @click="save(1)" fab dark large color="green">
                <v-icon dark>mdi-emoticon-happy</v-icon>
              </v-btn>
            </v-flex>
            <v-flex @click="save(2)" class="text-center" xs4>
              <v-btn fab dark large color="orange">
                <v-icon dark>mdi-emoticon-neutral</v-icon>
              </v-btn>
            </v-flex>
            <v-flex @click="save(3)" class="text-center" xs4>
              <v-btn fab dark large color="red">
                <v-icon dark>mdi-emoticon-sad</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
  <v-btn block :to="localePath('/select_class')">
    {{ $t('selectClass') }}
  </v-btn>
  <br />
  <v-data-table :headers="headers" :items="students" class="elevation-1">
    <template v-slot:item.rating="props">
      <v-icon large :color="rating_to_color[props.item.rating]" dark>{{
          rating_to_emoji[props.item.rating]
        }}</v-icon>
      <v-icon large class="mr-2" @click="editItem(props.item)">
        mdi-account-edit
      </v-icon>
    </template>
    <!-- <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template> -->
  </v-data-table>
</div>
</template>

<script>
export default {
  data: () => ({
    rating_to_emoji: {
      1: 'mdi-emoticon-happy',
      2: 'mdi-emoticon-neutral',
      3: 'mdi-emoticon-sad',
    },
    rating_to_color: {
      1: 'green',
      2: 'yellow',
      3: 'red',
    },
    dialog: false,
    headers: [{
        text: 'Name',
        align: 'left',
        sortable: false,
        value: 'name',
      },
      {
        text: 'Rating',
        sortable: false,
        value: 'rating',
        align: 'left',
      },
    ],
    students: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      rating: 1,
    },
    defaultItem: {
      name: '',
      rating: 1,
    },
  }),

  watch: {
    dialog(val) {
      val || this.close()
    },
  },

  mounted() {
    this.loadTable()
  },

  methods: {
    loadTable() {
      const that = this
      this.$axios
        .get('/overview', {
          progress: true,
          credentials: true
        })
        .then(function(response) {
          that.students = response.data
        })
    },

    editItem(item) {
      this.editedIndex = this.students.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save(rating) {
      console.log(this.editedIndex)
      this.$axios.post(
        `/admin/rate/${this.students[this.editedIndex].id}`, {
          rating
        }, {
          progress: true,
          credentials: true
        }
      )
      this.loadTable()
      this.close()
    },
  },
}
</script>
