<template>
<v-row justify="center" align="center">
  <v-col class="login-area" cols="12" sm="8" md="6">
    <div class="text-center">
      <h1>Behaviour Display</h1>
    </div>
    <br />
    <v-card>
      <v-card-title class="headline"> {{ $t('login') }} </v-card-title>
      <v-card-text>
        <v-text-field v-model="password" @keyup.13="login" type="password" label="Password"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" @click="login">Login</v-btn>
      </v-card-actions>
    </v-card>
  </v-col>
</v-row>
</template>

<script>
export default {
  layout: 'fullscreen',
  components: {},
  data() {
    return {
      password: '',
    }
  },
  methods: {
    async login() {
      try {
        const response = await this.$auth.loginWith('local', {
          data: {
            password: this.password
          },
        })
        console.log(response)
        // this.$router.push('/')
      } catch (err) {
        console.log(err)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.login-area {
    padding-top: 15vh;
}
</style>
