<template>
<div>
  <v-container fluid grid-list-xl>
    <v-layout wrap align-center>
      <v-text-field v-model="className" :label="$t('className')">
      </v-text-field>
    </v-layout>
    <v-layout>
      <v-btn :disabled="className === null || className === ''" @click="createClass" color="success">{{ $t('addClass') }}</v-btn>
    </v-layout>
  </v-container>
</div>
</template>

<script>
export default {
  data: () => ({
    className: null,
  }),

  methods: {
    createClass() {
      const that = this
      this.$axios
        .post(
          `/admin/classes`, {
            name: this.className
          }, {
            progress: true,
            credentials: true
          }
        )
        .then(function() {
          that.$router.push(that.localePath('/class_management'))
        })
    },
  },

  computed: {
    classes_list() {
      const list = []
      this.classes.forEach((element) => {
        list.push(element.name)
      })
      return list
    },
  },
}
</script>
