<template>
<div>
  <v-container fluid grid-list-xl>
    <v-layout wrap align-center>
      <v-select v-model="selected_class" :items="classes" :label="$t('selectClass')">
        <template v-slot:item="props">{{ props.item.name }}</template>
        <template v-slot:selection="props">{{ props.item.name }}</template>
      </v-select>
    </v-layout>
    <v-layout>
      <v-btn :disabled="selected_class === null" @click="changeClass" color="success">{{ $t('loadClass') }}</v-btn>
    </v-layout>
  </v-container>
</div>
</template>

<script>
export default {
  data: () => ({
    classes: [],
    selected_class: null,
  }),

  mounted() {
    this.loadClasses()
  },

  methods: {
    loadClasses() {
      const that = this
      this.$axios
        .get('/admin/classes', {
          progress: true,
          credentials: true
        })
        .then(function(response) {
          that.classes = response.data
        })
    },
    changeClass() {
      const that = this
      this.$axios
        .post(
          `/admin/loadClass`, {
            id: this.selected_class.id
          }, {
            progress: true,
            credentials: true
          }
        )
        .then(function() {
          that.$router.push(that.localePath('/'))
        })
    },
  },

  computed: {
    classes_list() {
      const list = []
      this.classes.forEach((element) => {
        list.push(element.name)
      })
      return list
    },
  },
}
</script>
