<template>
<div>
  <!-- {{ changed }} -->
  <annouce-overlay v-if="show_overlay" :name="overlay_student.name" :rating="overlay_student.rating" />
  <v-container fluid style="height: 100vh">
    <v-row dense style="height: 98vh">
      <v-col v-for="card in cards" :key="card.id" :cols="2" style="padding: 4px">
        <v-card :style="{
              'background-color': color_rate_map[card.rating],
              height: '100%',
            }" :class="{ changed: card.changed }">
          <!-- <v-card-title
              class="student-title justify-center"
              v-text="card.name"
            ></v-card-title> -->
          <!-- <v-card-text
              class="emoji"
              style="font-size: 8vh; text-align: center"
              >{{ emoji_rate_map[card.rating] }}</v-card-text
            > -->
          <!-- <v-card-text class="emoji" v-text="card.name"></v-card-text> -->
          <!-- <v-card-text class="headline font-weight-bold" v-text="card.name"></v-card-text> -->
          <v-card-title class="name justify-center" v-text="card.name"></v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</div>
</template>

<script>
import _ from 'lodash'
import AnnouceOverlay from '@/components/AnnounceOverlay'

export default {
  auth: false,
  layout: 'fullscreen',
  components: {
    AnnouceOverlay
  },
  data: () => ({
    show_overlay: false,
    overlay_student: null,
    color_rate_map: {
      3: 'red',
      2: '#ffd31d',
      1: '#335d2d',
    },
    emoji_rate_map: {
      3: '☹️',
      2: '😐',
      1: '😀',
    },
    cards: [{
        name: 'Schüler 1',
        rating: 1,
        changed: true,
      },
      {
        name: 'Schüler 2',
        rating: 2,
        changed: true,
      },
      {
        name: 'Schüler 3',
        rating: 3,
        changed: true,
      },
      {
        name: 'Schüler 4',
        rating: 1,
        changed: true,
      },
      {
        name: 'Schüler 5',
        rating: 2,
        changed: true,
      },
      {
        name: 'Schüler 6',
        rating: 3,
      },
      {
        name: 'Schüler 7',
        rating: 2,
      },
      {
        name: 'Schüler 8',
        rating: 1,
      },
      {
        name: 'Schüler 9',
        rating: 3,
        changed: true,
      },
      {
        name: 'Schüler 10',
        rating: 2,
      },
      {
        name: 'Schüler 11',
        rating: 3,
      },
      {
        name: 'Schüler 12',
        rating: 1,
      },
      {
        name: 'Schüler 13',
        rating: 3,
        changed: true,
      },
      {
        name: 'Schüler 14',
        rating: 3,
      },
      {
        name: 'Schüler 15',
        rating: 2,
        changed: true,
      },
      {
        name: 'Schüler 16',
        rating: 1,
      },
      {
        name: 'Schüler 17',
        rating: 3,
      },
      {
        name: 'Schüler 18',
        rating: 3,
      },
      {
        name: 'Schüler 19',
        rating: 3,
        changed: true,
      },
      {
        name: 'Schüler 20',
        rating: 1,
      },
      {
        name: 'Schüler 21',
        rating: 3,
      },
      {
        name: 'Schüler 22',
        rating: 3,
      },
      {
        name: 'Schüler 23',
        rating: 2,
        changed: true,
      },
      {
        name: 'Schüler 24',
        rating: 2,
      },
    ],
    cards_before: null,
    animation: null,
  }),

  watch: {
    cards: {
      deep: true,
      handler() {
        let results = []
        if (this.cards_before !== null) {
          results = this.changedObjects(this.cards_before, this.cards)
        }

        this.cards_before = _.cloneDeep(this.cards)

        if (results.length === 0) {
          return
        }
        this.show_overlay = true
        this.overlay_student = results[0]
        setTimeout(() => {
          this.show_overlay = false
        }, 5000)
      },
    },
  },
  timers: {
    loadCards: {
      time: 1000,
      autostart: true,
      repeat: true
    },
  },
  mounted() {
    this.loadCards()
  },
  methods: {
    changedObjects(before, current) {
      const results = []
      current.forEach(function callback(element, index) {
        try {
          if (element.rating !== before[index].rating) {
            results.push(element)
          }
        } catch {}
      })
      return results
    },
    loadCards() {
      const that = this
      this.$axios
        .get('/overview', {
          progress: true,
          credentials: true
        })
        .then(function(response) {
          that.cards = response.data
          // this.cards = response.data
          // this.cards = response.data
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.emoji {
    padding: 9% 0 0;
    font-size: 5vh;
    text-align: center;
}

.student-title {
    font-size: 2vw;
}

.name {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 6vh;
    width: 100%;
}
</style>
