<!-- <template>
<div>
  <v-container fluid grid-list-xl>
    <v-btn x-large>{{$t("powerOff")}}</v-btn>
    <v-btn v-bind:key="_" x-large v-for="_ in Array(10)">{{$t("reboot") + _}}</v-btn>
  </v-container>
</div>
</template> -->
<template>
<v-container>
  <v-row justify="space-around">
    <v-col justify="space-around" cols="12" sm="4">
      <v-btn block @click="poweroff">{{ $t("powerOff") }}</v-btn>
    </v-col>
    <v-col justify="space-around" cols="12" sm="4">
      <v-btn block @click="reboot">{{ $t("reboot") }}</v-btn>
    </v-col>
    <v-col justify="space-around" cols="12" sm="4">
      <v-btn block @click="update">{{ $t("update") }}</v-btn>
    </v-col>
  </v-row>
  <v-overlay :z-index="0" color="#000" :opacity="0.9" :value="poweredOff">
    {{$t("poweredOff")}}
  </v-overlay>
</v-container>
</template>

<script>
export default {
  data: () => ({
    className: null,
    poweredOff: false,
  }),

  methods: {
    async poweroff() {
      await this.$axios.post(`/admin/system/poweroff`)
      this.poweredOff = true
    },
    async reboot() {
      await this.$axios.post(`/admin/system/reboot`)
      this.poweredOff = true
    },
    async update() {
      await this.$axios.post(`/admin/system/update`)
    },
  },
}
</script>
